{% extends "base.html" %}

{% block announce %}
{% set a = config.extra.aedoc %}
<div class="dlbar">
  <span class="dlbar__ver">AEDOC <b>v{{ a.version }}</b> від {{ a.date }}</span>
  <span class="dlbar__links">
    <a class="dlbar__btn dlbar__btn--gold" href="{{ a.config_url }}">⬇ Конфігурація <small>CF · {{ a.config_size }}</small></a>
    <a class="dlbar__btn" href="{{ a.extension_url }}">⬇ Розширення «Малий бізнес» <small>керовані форми</small></a>
    <a class="dlbar__btn" href="{{ a.sign_url }}">🔐 Служба підпису</a>
  </span>
  <a class="dlbar__btn dlbar__btn--tg" href="{{ a.support_url }}" target="_blank" rel="noopener"><svg viewBox="0 0 24 24" width="15" height="15" aria-hidden="true"><path fill="currentColor" d="M9.78 15.27 9.4 20.6c.54 0 .78-.23 1.06-.51l2.55-2.43 5.28 3.86c.97.53 1.65.25 1.91-.89l3.46-16.2c.31-1.43-.52-1.99-1.46-1.64L1.4 10.66c-1.39.54-1.37 1.31-.24 1.66l5.2 1.62 12.07-7.6c.57-.37 1.09-.17.66.21z"/></svg> Підтримка в Telegram</a>
</div>
{% endblock %}
