{% extends "base.html" %}

{% block announce %}
{% set a = config.extra.aedoc %}
<div class="dlbar">
  <span class="dlbar__ver">AEDOC <b>v{{ a.version }}</b> від {{ a.date }}</span>
  <span class="dlbar__links">
    <a class="dlbar__btn dlbar__btn--gold" href="{{ a.config_url }}">⬇ Конфігурація <small>звичайні форми</small></a>
    <a class="dlbar__btn" href="{{ a.extension_url }}">⬇ Розширення «Малий бізнес» <small>керовані форми</small></a>
    <a class="dlbar__btn" href="{{ a.sign_url }}">🔐 Служба підпису</a>
  </span>
</div>
{% endblock %}
